USE [20505310072]
GO
/****** Object:  Table [dbo].[cajamayor]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajamayor](
	[i_IdCajaMayor] [int] IDENTITY(1,1) NOT NULL,
	[i_IdTipoCaja] [int] NOT NULL,
	[v_Periodo] [nchar](6) NOT NULL,
	[v_Mes] [nchar](2) NOT NULL,
	[v_Anio] [nchar](4) NOT NULL,
	[t_FechaInicio] [datetime] NOT NULL,
	[t_FechaFin] [datetime] NOT NULL,
	[d_SaldoInicialMes] [decimal](18, 4) NOT NULL,
	[d_TotalIngresos] [decimal](18, 4) NOT NULL,
	[d_TotalEgresos] [decimal](18, 4) NOT NULL,
	[d_SaldoFinalMes] [decimal](18, 4) NOT NULL,
	[i_EstadoCierre] [int] NOT NULL,
	[t_FechaCierre] [datetime] NULL,
	[v_ObservacionesCierre] [nvarchar](500) NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
	[i_ActualizaIdUsuario] [int] NULL,
	[t_ActualizaFecha] [datetime] NULL,
 CONSTRAINT [PK_cajamayor] PRIMARY KEY CLUSTERED 
(
	[i_IdCajaMayor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_cajamayor_periodo] UNIQUE NONCLUSTERED 
(
	[i_IdTipoCaja] ASC,
	[v_Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cajamayordetalle]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajamayordetalle](
	[i_IdCajaMayorDetalle] [int] IDENTITY(1,1) NOT NULL,
	[i_IdCajaMayor] [int] NOT NULL,
	[v_IdVenta] [nchar](16) NULL,
	[v_CodigoDocumento] [nvarchar](20) NOT NULL,
	[v_TipoMovimiento] [char](1) NOT NULL,
	[v_ConceptoMovimiento] [nvarchar](250) NULL,
	[t_FechaMovimiento] [datetime] NOT NULL,
	[d_Subtotal] [decimal](18, 4) NOT NULL,
	[d_IGV] [decimal](18, 4) NOT NULL,
	[d_Total] [decimal](18, 4) NOT NULL,
	[v_NumeroDocumento] [nvarchar](50) NULL,
	[v_SerieDocumento] [nvarchar](10) NULL,
	[v_Observaciones] [nvarchar](500) NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
	[i_ActualizaIdUsuario] [int] NULL,
	[t_ActualizaFecha] [datetime] NULL,
 CONSTRAINT [PK_cajamayordetalle] PRIMARY KEY CLUSTERED 
(
	[i_IdCajaMayorDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[egresosmensual]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egresosmensual](
	[i_IdEgresoMensual] [int] IDENTITY(1,1) NOT NULL,
	[i_IdCajaMayor] [int] NOT NULL,
	[i_IdTipoEgresoMensual] [int] NOT NULL,
	[v_ConceptoEgreso] [nvarchar](250) NOT NULL,
	[t_FechaEgreso] [datetime] NOT NULL,
	[d_MontoEgreso] [decimal](18, 4) NOT NULL,
	[v_NumeroDocumento] [nvarchar](50) NULL,
	[v_Beneficiario] [nvarchar](150) NULL,
	[v_Observaciones] [nvarchar](500) NULL,
	[i_Estado] [int] NOT NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
	[i_ActualizaIdUsuario] [int] NULL,
	[t_ActualizaFecha] [datetime] NULL,
 CONSTRAINT [PK_egresosmensual] PRIMARY KEY CLUSTERED 
(
	[i_IdEgresoMensual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingresosmensual]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingresosmensual](
	[i_IdIngresoMensual] [int] IDENTITY(1,1) NOT NULL,
	[i_IdCajaMayor] [int] NOT NULL,
	[i_IdTipoIngresoMensual] [int] NOT NULL,
	[v_ConceptoIngreso] [nvarchar](250) NOT NULL,
	[t_FechaIngreso] [datetime] NOT NULL,
	[d_MontoIngreso] [decimal](18, 4) NOT NULL,
	[v_NumeroDocumento] [nvarchar](50) NULL,
	[v_Origen] [nvarchar](150) NULL,
	[v_Observaciones] [nvarchar](500) NULL,
	[i_Estado] [int] NOT NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
	[i_ActualizaIdUsuario] [int] NULL,
	[t_ActualizaFecha] [datetime] NULL,
 CONSTRAINT [PK_ingresosmensual] PRIMARY KEY CLUSTERED 
(
	[i_IdIngresoMensual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saldocaja]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saldocaja](
	[i_IdSaldoCaja] [int] IDENTITY(1,1) NOT NULL,
	[i_IdTipoCaja] [int] NOT NULL,
	[d_SaldoActual] [decimal](18, 4) NOT NULL,
	[t_UltimaActualizacion] [datetime] NOT NULL,
	[i_ActualizaIdUsuario] [int] NULL,
 CONSTRAINT [PK_saldocaja] PRIMARY KEY CLUSTERED 
(
	[i_IdSaldoCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipocaja]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipocaja](
	[i_IdTipoCaja] [int] IDENTITY(1,1) NOT NULL,
	[v_NombreTipoCaja] [nvarchar](100) NOT NULL,
	[v_Descripcion] [nvarchar](250) NULL,
	[i_Estado] [int] NOT NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
	[i_ActualizaIdUsuario] [int] NULL,
	[t_ActualizaFecha] [datetime] NULL,
 CONSTRAINT [PK_tipocaja] PRIMARY KEY CLUSTERED 
(
	[i_IdTipoCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoegresomensual]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoegresomensual](
	[i_IdTipoEgresoMensual] [int] IDENTITY(1,1) NOT NULL,
	[v_NombreTipoEgreso] [nvarchar](100) NOT NULL,
	[v_Descripcion] [nvarchar](250) NULL,
	[i_Estado] [int] NOT NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
 CONSTRAINT [PK_tipoegresomensual] PRIMARY KEY CLUSTERED 
(
	[i_IdTipoEgresoMensual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoingresomensual]    Script Date: 10/08/2025 23:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoingresomensual](
	[i_IdTipoIngresoMensual] [int] IDENTITY(1,1) NOT NULL,
	[v_NombreTipoIngreso] [nvarchar](100) NOT NULL,
	[v_Descripcion] [nvarchar](250) NULL,
	[i_Estado] [int] NOT NULL,
	[i_InsertaIdUsuario] [int] NULL,
	[t_InsertaFecha] [datetime] NULL,
 CONSTRAINT [PK_tipoingresomensual] PRIMARY KEY CLUSTERED 
(
	[i_IdTipoIngresoMensual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT ((0)) FOR [d_SaldoInicialMes]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT ((0)) FOR [d_TotalIngresos]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT ((0)) FOR [d_TotalEgresos]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT ((0)) FOR [d_SaldoFinalMes]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT ((0)) FOR [i_EstadoCierre]
GO
ALTER TABLE [dbo].[cajamayor] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[cajamayordetalle] ADD  DEFAULT ((0)) FOR [d_Subtotal]
GO
ALTER TABLE [dbo].[cajamayordetalle] ADD  DEFAULT ((0)) FOR [d_IGV]
GO
ALTER TABLE [dbo].[cajamayordetalle] ADD  DEFAULT ((0)) FOR [d_Total]
GO
ALTER TABLE [dbo].[cajamayordetalle] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[egresosmensual] ADD  DEFAULT ((1)) FOR [i_Estado]
GO
ALTER TABLE [dbo].[egresosmensual] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[ingresosmensual] ADD  DEFAULT ((1)) FOR [i_Estado]
GO
ALTER TABLE [dbo].[ingresosmensual] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[saldocaja] ADD  DEFAULT ((0)) FOR [d_SaldoActual]
GO
ALTER TABLE [dbo].[saldocaja] ADD  DEFAULT (getdate()) FOR [t_UltimaActualizacion]
GO
ALTER TABLE [dbo].[tipocaja] ADD  DEFAULT ((1)) FOR [i_Estado]
GO
ALTER TABLE [dbo].[tipocaja] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[tipoegresomensual] ADD  DEFAULT ((1)) FOR [i_Estado]
GO
ALTER TABLE [dbo].[tipoegresomensual] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[tipoingresomensual] ADD  DEFAULT ((1)) FOR [i_Estado]
GO
ALTER TABLE [dbo].[tipoingresomensual] ADD  DEFAULT (getdate()) FOR [t_InsertaFecha]
GO
ALTER TABLE [dbo].[cajamayor]  WITH CHECK ADD  CONSTRAINT [FK_cajamayor_tipocaja] FOREIGN KEY([i_IdTipoCaja])
REFERENCES [dbo].[tipocaja] ([i_IdTipoCaja])
GO
ALTER TABLE [dbo].[cajamayor] CHECK CONSTRAINT [FK_cajamayor_tipocaja]
GO
ALTER TABLE [dbo].[cajamayordetalle]  WITH CHECK ADD  CONSTRAINT [FK_cajamayordetalle_cajamayor] FOREIGN KEY([i_IdCajaMayor])
REFERENCES [dbo].[cajamayor] ([i_IdCajaMayor])
GO
ALTER TABLE [dbo].[cajamayordetalle] CHECK CONSTRAINT [FK_cajamayordetalle_cajamayor]
GO
ALTER TABLE [dbo].[cajamayordetalle]  WITH CHECK ADD  CONSTRAINT [FK_cajamayordetalle_venta] FOREIGN KEY([v_IdVenta])
REFERENCES [dbo].[venta] ([v_IdVenta])
GO
ALTER TABLE [dbo].[cajamayordetalle] CHECK CONSTRAINT [FK_cajamayordetalle_venta]
GO
ALTER TABLE [dbo].[egresosmensual]  WITH CHECK ADD  CONSTRAINT [FK_egresosmensual_cajamayor] FOREIGN KEY([i_IdCajaMayor])
REFERENCES [dbo].[cajamayor] ([i_IdCajaMayor])
GO
ALTER TABLE [dbo].[egresosmensual] CHECK CONSTRAINT [FK_egresosmensual_cajamayor]
GO
ALTER TABLE [dbo].[egresosmensual]  WITH CHECK ADD  CONSTRAINT [FK_egresosmensual_tipoegreso] FOREIGN KEY([i_IdTipoEgresoMensual])
REFERENCES [dbo].[tipoegresomensual] ([i_IdTipoEgresoMensual])
GO
ALTER TABLE [dbo].[egresosmensual] CHECK CONSTRAINT [FK_egresosmensual_tipoegreso]
GO
ALTER TABLE [dbo].[ingresosmensual]  WITH CHECK ADD  CONSTRAINT [FK_ingresosmensual_cajamayor] FOREIGN KEY([i_IdCajaMayor])
REFERENCES [dbo].[cajamayor] ([i_IdCajaMayor])
GO
ALTER TABLE [dbo].[ingresosmensual] CHECK CONSTRAINT [FK_ingresosmensual_cajamayor]
GO
ALTER TABLE [dbo].[ingresosmensual]  WITH CHECK ADD  CONSTRAINT [FK_ingresosmensual_tipoingreso] FOREIGN KEY([i_IdTipoIngresoMensual])
REFERENCES [dbo].[tipoingresomensual] ([i_IdTipoIngresoMensual])
GO
ALTER TABLE [dbo].[ingresosmensual] CHECK CONSTRAINT [FK_ingresosmensual_tipoingreso]
GO
ALTER TABLE [dbo].[saldocaja]  WITH CHECK ADD  CONSTRAINT [FK_saldocaja_tipocaja] FOREIGN KEY([i_IdTipoCaja])
REFERENCES [dbo].[tipocaja] ([i_IdTipoCaja])
GO
ALTER TABLE [dbo].[saldocaja] CHECK CONSTRAINT [FK_saldocaja_tipocaja]
GO
ALTER TABLE [dbo].[cajamayor]  WITH CHECK ADD  CONSTRAINT [CK_cajamayor_estado] CHECK  (([i_EstadoCierre]=(2) OR [i_EstadoCierre]=(1) OR [i_EstadoCierre]=(0)))
GO
ALTER TABLE [dbo].[cajamayor] CHECK CONSTRAINT [CK_cajamayor_estado]
GO
ALTER TABLE [dbo].[cajamayordetalle]  WITH CHECK ADD  CONSTRAINT [CK_cajamayordetalle_tipo] CHECK  (([v_TipoMovimiento]='E' OR [v_TipoMovimiento]='I'))
GO
ALTER TABLE [dbo].[cajamayordetalle] CHECK CONSTRAINT [CK_cajamayordetalle_tipo]
GO
ALTER TABLE [dbo].[ingresosmensual]  WITH CHECK ADD  CONSTRAINT [CK_ingresosmensual_monto] CHECK  (([d_MontoIngreso]>(0)))
GO
ALTER TABLE [dbo].[ingresosmensual] CHECK CONSTRAINT [CK_ingresosmensual_monto]
GO
